<div class="container">
  <div class="content">
    <form *ngIf="questionIndex< questions.length ;else answerList" (ngSubmit)="onSubmit(formDirective.resetForm())"
      class="form" #formDirective="ngForm" [ngSwitch]="control.inputType">
      <div class="title">
        <Label> Pertanyaan {{questionIndex+1}}/{{questions.length}} </Label>
      </div>
      <mat-form-field class="full-width" *ngSwitchCase="inputType.text">
        <input matInput [placeholder]="control.label" [formControl]="control.field">
        <mat-error>
          {{getErrorMessage()}}
        </mat-error>
      </mat-form-field>
      <div *ngSwitchCase="inputType.radio">
        <label>Float {{control.label}} </label>
        <mat-radio-group [formControl]="control.field">
          <div *ngFor="let option of control.options" class="option-space">
            <mat-radio-button [value]="option.value">{{option.title}}</mat-radio-button>
          </div>
          <mat-error>
            {{getErrorMessage()}}
          </mat-error>
        </mat-radio-group>
      </div>


      <button [disabled]="control.field.invalid || isLoading " class="full-width margin-button" mat-raised-button
        color="primary">
        <mat-icon *ngIf="isLoading;else textButton">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        <ng-template #textButton>{{questionIndex < questions.length-1 ? 'Selanjutnya' : 'Submit' }}</ng-template>
      </button>
    </form>

    <ng-template #answerList>

      <div class="title">
        <Label> Selamat, Anda telah selesai </Label>
      </div>
      <div class="result-wrapper">
        <div class="list-result" *ngFor="let result of results;let i = index">
          <div class="listitem">
            <div class="left-list">
              Pertanyaan {{i+1}}
            </div>
            <div class="divider-list">
              :
            </div>
            <div class="right-list">
              {{result.question}}
            </div>
          </div>

          <div class="listitem">
            <div class="left-list">
              Jawab {{i+1}}
            </div>
            <div class="divider-list">
              :
            </div>
            <div class="right-list">
              {{result.answer}}
            </div>
          </div>

        </div>
      </div>
    </ng-template>
  </div>
</div>