.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.container {
  box-shadow: 0 0 48px 0 rgb(0 0 0 / 20%);
  background-color: #fff;
  min-height: 100vh;
  max-width: 500px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

.title {
  margin-bottom: 60px;
  text-align: center;
}
.margin-button {
  margin-top: 40px;
}

.content {
  margin: 80px 30px 30px;
}

.option-space{
  padding: 10px;
}

.app-class .mat-list-item {
  height: auto;
}

.result-wrapper {
  margin: 20px;
}

.list-result{
  margin-bottom: 10px;
}

.listitem {
  display: flex;
  flex-direction: row;
}

.left-list {
  width: 110px;
}
.divider-list {
  width: 7px;
}
.right-list {
  flex: 1;
}